name: Build and Publish

on:
  #push:
  #  branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build
      working-directory: ./src
      run: |
        mkdir -p ../.bin
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ../.bin/app ./main.go

    - name: Upload binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: app-linux-amd64
        path: .bin/app
